---
name: tests

on:
  push:
  pull_request:

jobs:
  tests:
    name: Run tests (py${{ matrix.python }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run tests
        run: |
          uv run ruff check
          uv run ty check src/
          uv run pytest
